<!doctype html>
<html><head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=1200">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>千氏地产-首页</title>
    <link rel="stylesheet" href="static/web/css/common.css">
    <script src="js/jquery-1.12.1.min.js"></script>
    <script src="js/common.js"></script>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie8.css">
    <![endif]-->
</head>

<body>
<!-- header start -->
<div class="top con hiden">
    <a href="index.html"><img src="images/logo.png" class="logo"></a>
    <ul class="nav">
        <li class="nav-current"><a href="index.html">首页</a></li>
        <li><a href="二手房.html">二手房</a></li>
        <li><a href="新房.html">新房</a></li>
        <li><a href="海外.html">海外</a></li>
        <li><a href="热点.html">热点</a></li>
        <li><a href="经纪人.html">经纪人</a></li>
        <li><a href="工具.html">工具</a></li>
        <li><a href="金融.html">金融</a></li>
    </ul>
</div>
<!-- header end -->

<!-- content start -->
<div class="index-search-wrap">
    <div class="index-search">
        <p><span class="search-this">学区房</span><span>商铺</span><span>写字楼</span></p>
        <div class="index-search-con">
            <input type="text" value="请输入学校名称" class="search-text"><input type="button" value="开始找房" class="search-btn">
        </div>
        <div class="index-search-con">
            <input type="text" value="请输入商铺名称" class="search-text"><input type="button" value="开始找房" class="search-btn">
        </div>
        <div class="index-search-con">
            <input type="text" value="请输入写字楼名称" class="search-text"><input type="button" value="开始找房" class="search-btn">
        </div>
    </div>
</div>
<div class="head">
    <div class="con hiden">
        <a href="" class="head-1">
            <h2 class="s18">学区找房</h2>
            <p class="c6">助力您的孩子，跨入希望的起跑线</p>
        </a>
        <a href="" class="head-2">
            <h2 class="s18">房产问答</h2>
            <p class="c6">买房版十万个为什么，专家来为您解惑</p>
        </a>
        <a href="" class="head-3">
            <h2 class="s18">千誉金融</h2>
            <p class="c6">年息6%，全程托管，资金更安全</p>
        </a>
    </div>
</div>
<div class="hot-wrap">
    <div class="con hiden">
        <div class="hot-list">
            <div class="title bg1"><h2>楼市热点</h2><span></span></div>
            <div class="hot-list-img">
                <a href="">
                    <div class="hover-img"><img src="photo/img-1.jpg"></div>
                    <p>北京930信贷政策最新解读</p>
                </a>
            </div>
            <ul>
                <li><span>热点</span><a href="">因为它，回龙观拥堵问题将大大缓解！</a></li>
                <li><span>问答</span><a href="">继承房产怎么走流程？都有哪些费用？</a></li>
                <li><span>热点</span><a href="">楼市压力过高 降汇可以解决问题么？</a></li>
                <li><span>百科</span><a href="">买新房，我该怎么办房本？</a></li>
            </ul>
        </div>
        <div class="hot-img">
            <div class="title bg1"><h2>帮你买房</h2><span></span></div>
            <ul>
                <li>
                    <a href="">
                        <div class="hover-img"><img src="photo/img-5.jpg"></div>
                        <p>通州和北三县统一管控 传言中的北三县有多火？</p>
                    </a>
                </li>

                <li>
                    <a href="">
                        <div class="hover-img"><img src="photo/img-6.jpg"></div>
                        <p>735万买独栋别墅 开车50分钟能到西直门</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="index-data">
    <h2 class="s24 tc">北京9月二手房市场行情</h2>
    <ul class="data">
        <li class="data-1">
            <b>4.8<font class="up"></font></b>
            <p>昨日新增客房比</p>
        </li>
        <li class="data-2">
            <b>55205<font class="down"></font></b>
            <p>二手房源全市均价(元/m²)</p>
        </li>
        <li class="data-3">
            <b>268<font class="up"></font></b>
            <p>昨日成交量（套）</p>
        </li>
        <li class="data-4">
            <b>59037<font class="down"></font></b>
            <p>二手房源挂牌均价(元/m²)</p>
        </li>
        <li class="data-5">
            <b>23607<font class="down"></font></b>
            <p>昨日房源带看量（次）</p>
        </li>
    </ul>
</div>
<div class="resource bg1">
    <div class="con hiden">
        <div class="title bg1"><h2>新房源</h2><span></span><a href="">Read More</a></div>
        <div class="resource-new bgf fl">
            <a href="" title="泰禾西府大院"><img src="photo/img-2.jpg" class="fl"></a>
            <h3 class="s18"><a href="">泰禾西府大院</a></h3>
            <p>均价：<font class="s18 orange">待定</font></p>
            <p>项目地址：西三环丽泽桥西北角</p>
            <p>最新开盘：2016年09月30日</p>
        </div>
        <div class="resource-new bgf fr">
            <a href="" title="流星花园三区"><img src="photo/img-3.jpg" class="fl"></a>
            <h3 class="s18"><a href="">流星花园三区</a></h3>
            <p>均价：<font class="s18 orange">2000万/套</font></p>
            <p>项目地址：西育知路地铁站对面</p>
            <p>最新开盘：2016年09月30日</p>
        </div>
        <div class="title bg1 clear"><h2>二手房</h2><span></span><a href="">Read More</a></div>
        <ul class="resource-list hiden">
            <li>
                <a href="" title="兴都苑"><img src="photo/img-1.jpg"></a>
                <p class="s18"><b class="fl"><a href="">兴都苑</a></b><span class="orange fr">380万</span></p>
                <p class="c6"><span class="fl">3室2厅1卫 110 m²</span><span class="fr">3.5万/平</span></p>
            </li>
            <li>
                <a href="" title=""><img src="photo/img-2.jpg"></a>
                <p class="s18"><b class="fl"><a href="">华芳园</a></b><span class="orange fr">450万</span></p>
                <p class="c6"><span class="fl">3室2厅1卫 110 m²</span><span class="fr">3.5万/平</span></p>
            </li>
            <li>
                <a href="" title=""><img src="photo/img-3.jpg"></a>
                <p class="s18"><b class="fl"><a href="">朝阳公园西里北区</a></b><span class="orange fr">380万</span></p>
                <p class="c6"><span class="fl">3室2厅1卫 110 m²</span><span class="fr">3.5万/平</span></p>
            </li>
            <li>
                <a href="" title=""><img src="photo/img-4.jpg"></a>
                <p class="s18"><b class="fl"><a href="">天赐良园二期</a></b><span class="orange fr">580万</span></p>
                <p class="c6"><span class="fl">3室2厅1卫 110 m²</span><span class="fr">3.5万/平</span></p>
            </li>
        </ul>
    </div>
</div>
<div class="foot-info bgf tc">
	<span>
    	<img src="images/foot-1.png">
        <p class="s18">真实价格 真实房源</p>
        <p class="c6">千氏承诺，假一赔百</p>
    </span>
    <span>
    	<img src="images/foot-2.png">
        <p class="s18">海量房源 覆盖全城</p>
        <p class="c6">房源信息覆盖广</p>
    </span>
    <span>
    	<img src="images/foot-3.png">
        <p class="s18">服务品质 欢迎监督</p>
        <p class="c6">客户投诉，单单公示</p>
    </span>
    <span>
    	<img src="images/foot-4.png">
        <p class="s18">安心承诺 保驾护航</p>
        <p class="c6">亿元保障赔付</p>
    </span>
</div>
<!-- content end -->

<!-- footer start -->
<div class="foot">北京千氏房地产经纪有限公司 | 网络经营许可证 京ICP备11024601号-12 | © Copyright©2010-2016 千氏网版权所有</div>
<!-- footer end -->
</body>
</html>